.content {
    overflow-y: auto;
    height: 90%;
    margin-top: 1em;
}

.desc {
    margin-top: 1em;
    color: #e0e0e0;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: capitalize;
}

.feature {
    margin-top: 1em;
}

.feature .featureTitle {
    color: #e0e0e0;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: capitalize;
}

.feature .featureList {
    list-style-type: none;
    padding: 0;
}

.feature .featureList>li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.feature .featureList>li:after {
    content: "";
    display: block;
    clear: both;
}

.listCircle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: #0941C0;
    position: relative;
    float: left;
    margin: 0 1em 0 1em;
    transition: all 0.4s;
}

.listItem {
    float: left;
    text-align: left;
    letter-spacing: 1.8px;
    color: #e0e0e0;
    font-size: 0.9em;
    font-weight: 100;
    text-transform: uppercase;
}

li:hover>.listCircle {
    background-color: #00ba00;
}