.descriptionModalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 20;
}

.descriptionModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  width: 95vw;
  height: 95vh;
  border-radius: 25px;
  outline: none;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionModalCloseBtn {
  position: absolute;
  top: 5.5em;
  right: 2em;
  width: 30px;
  height: 30px;
  outline: none;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.descriptionModalCloseBtn::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(177, 177, 177);
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(45deg);
}

.descriptionModalCloseBtn::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(177, 177, 177);
  height: 2px;
  top: 12px;
  left: 5px;
  right: 5px;
  transform: rotate(45deg);
}

/* screen xl */

@media(max-width: 1280px) {}

/* screen lg */

@media(max-width: 1024px) {}

/* screen md */

@media(max-width: 768px) {}

/* screen sm */

@media(max-width: 640px) {}