@font-face {
    font-family: 'DINOT';
    src: url('/assets/fonts/webfonts/35A96E_0_0.woff2') format('woff2'), url('/assets/fonts/webfonts/35A96E_0_0.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('/assets/fonts/webfonts/35A96E_1_0.woff2') format('woff2'), url('/assets/fonts/webfonts/35A96E_1_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('/assets/fonts/webfonts/35A96E_2_0.woff2') format('woff2'), url('/assets/fonts/webfonts/35A96E_2_0.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('/assets/fonts/webfonts/35A96E_3_0.woff2') format('woff2'), url('/assets/fonts/webfonts/35A96E_3_0.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
    font-family: "DINOT";
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.renderer2D {
    position: absolute;
    top: 0;
    pointer-events: none;
    width: inherit !important;
    height: inherit !important;
}

.rmNodeAnno {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rmNodeAnno span {
    position: absolute;
    color: aliceblue;
    font-size: 1.2em;
    width: max-content;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 0.8s;
}