.canvasContainer {
  background-color: rgb(240, 240, 240);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  margin: unset;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  width: 2.2em;
  height: 5em;
  z-index: 15;
  transform: translate(0%, -50%);
  background-color: rgb(27, 27, 27);
}

.btnArrow:hover {
  background-color: rgb(44, 44, 44);
}

.btnNext {
  top: 50%;
  right: 0.5em;
}

.btnNext:after {
  content: '';
  width: 1em;
  height: 1em;
  border-top: 0.15em solid rgb(216, 216, 216);
  border-right: 0.15em solid rgb(216, 216, 216);
  transform: rotate(45deg);
}

.btnPrev {
  top: 50%;
  left: 0.5em;
}

.btnPrev:after {
  content: '';
  width: 1em;
  height: 1em;
  border-top: 0.15em solid rgb(216, 216, 216);
  border-right: 0.15em solid rgb(216, 216, 216);
  transform: rotate(-135deg);
}

.renderer2D {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: inherit !important;
  height: inherit !important;
}

.rmNodeAnno {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rmNodeAnno span {
  position: absolute;
  color: aliceblue;
  font-size: 1.2em;
  width: max-content;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 0.8s;
}

@media(max-height: 1024px) {
  .rmNodeAnno span {
    font-size: 1.2em;
  }
}

@media(max-height: 824px) {
  .rmNodeAnno span {
    font-size: 1.1em;
  }
}

@media(max-height: 624px) {
  .rmNodeAnno span {
    font-size: 1em;
  }
}

@media(max-height: 424px) {
  .rmNodeAnno span {
    font-size: 0.9em;
  }
}

@media(max-height: 324px) {
  .rmNodeAnno span {
    font-size: 0.8em;
  }
}