.content {
    overflow-y: auto;
    height: 90%;
    margin-top: 1em;
}

.image {
    color: #ffffff;
    width: 100%;
}

.image img {
    width: inherit;
}

.desc {
    margin-top: 1em;
    color: #e0e0e0;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: capitalize;
}